# Homework

## Setting up

In order to get a static set of results, we will use historical data from the dataset.

Run the following commands:
```bash
# Load the cluster op commands.
source commands.sh
# First, reset the cluster:
clean-cluster
# Start a new cluster
start-cluster
# wait for cluster to start
sleep 5
# Seed historical data instead of real-time data
seed-kafka
# Recreate trip data table
psql -f risingwave-sql/table/trip_data.sql
# Wait for a while for the trip_data table to be populated.
sleep 5
# Check that you have 100K records in the trip_data table
# You may rerun it if the count is not 100K
psql -c "SELECT COUNT(*) FROM trip_data"
```

In [7]:
import pandas as pd
pd.__version__

'2.2.1'

In [8]:
from sqlalchemy import create_engine

import sqlalchemy as sa
sa.__version__

'2.0.28'

In [9]:
import psycopg2

engine = create_engine("postgresql+psycopg2://root:root@localhost:4566/dev")
engine.connect()

In [ ]:
SELECT COUNT(*) FROM trip_data

In [11]:
query = """
SELECT COUNT(*) FROM trip_data
"""

pd.read_sql(query, con=engine)

    count
0  100000

TODO 
> [!NOTE]
> pd.read_sql not working in jupyter. did I use the wrong dialect? 
> 
> or wrong sqltools driver, as sqltools also not working?
> 
> used dbeaver for lessons & homework. they have a rising connector! neat.

### dynamic filter pattern sample code

```sql
WITH max_profit AS (SELECT max(profit_margin) max FROM sales) 
SELECT product_name FROM products, max_profit 
WHERE product_profit > max;
```

In [ ]:
CREATE OR REPLACE MATERIALIZED VIEW latest_dropoff_time AS
    WITH t AS (
        SELECT MAX(tpep_dropoff_datetime) AS latest_dropoff_time
        FROM trip_data
    )
    SELECT taxi_zone.Zone as taxi_zone, latest_dropoff_time
    FROM t,
            trip_data
    JOIN taxi_zone
        ON trip_data.DOLocationID = taxi_zone.location_id
    WHERE trip_data.tpep_dropoff_datetime = t.latest_dropoff_time;

In [ ]:
query = """
CREATE MATERIALIZED VIEW latest_dropoff_time AS
    WITH t AS (
        SELECT MAX(tpep_dropoff_datetime) AS latest_dropoff_time
        FROM trip_data
    )
    SELECT taxi_zone.Zone as taxi_zone, latest_dropoff_time
    FROM t,
            trip_data
    JOIN taxi_zone
        ON trip_data.DOLocationID = taxi_zone.location_id
    WHERE trip_data.tpep_dropoff_datetime = t.latest_dropoff_time;
"""

pd.read_sql(query, con=engine)

In [ ]:
select
	max(t.tpep_dropoff_datetime) max_do_time
from
	trip_data t;

## Question 0

_This question is just a warm-up to introduce dynamic filter, please attempt it before viewing its solution._

What are the dropoff taxi zones at the latest dropoff times?

For this part, we will use the [dynamic filter pattern](https://docs.risingwave.com/docs/current/sql-pattern-dynamic-filters/).

<details>
<summary>Solution</summary>

```sql
CREATE MATERIALIZED VIEW latest_dropoff_time AS
    WITH t AS (
        SELECT MAX(tpep_dropoff_datetime) AS latest_dropoff_time
        FROM trip_data
    )
    SELECT taxi_zone.Zone as taxi_zone, latest_dropoff_time
    FROM t,
            trip_data
    JOIN taxi_zone
        ON trip_data.DOLocationID = taxi_zone.location_id
    WHERE trip_data.tpep_dropoff_datetime = t.latest_dropoff_time;

--    taxi_zone    | latest_dropoff_time
-- ----------------+---------------------
--  Midtown Center | 2022-01-03 17:24:54
-- (1 row)
```

</details>

In [ ]:
select (td.tpep_dropoff_datetime - td.tpep_pickup_datetime) AS duration
from trip_data td ;

In [ ]:
CREATE MATERIALIZED VIEW mv_trip_times AS
SELECT 
	max(td.tpep_dropoff_datetime - td.tpep_pickup_datetime) as max_trip_time,
	min(td.tpep_dropoff_datetime - td.tpep_pickup_datetime) as min_trip_time,
	avg(td.tpep_dropoff_datetime - td.tpep_pickup_datetime) as avg_trip_time,
	zpu.Zone as pickup_zone, 
	zdo.zone as dropoff_zone
FROM trip_data as td
JOIN taxi_zone as zpu
    ON td.pulocationid = zpu.location_id
JOIN taxi_zone as zdo
    ON td.dolocationid = zdo.location_id
group by pickup_zone,dropoff_zone
;

In [ ]:
-- From this MV, find the pair of taxi zones with the highest average trip time.
SELECT 
    pickup_zone,
    dropoff_zone,
    avg_trip_time
FROM 
    mv_trip_times
ORDER BY 
    avg_trip_time DESC
LIMIT 1;

```
pickup_zone   |dropoff_zone|avg_trip_time|
--------------+------------+-------------+
Yorkville East|Steinway    |     23:59:33|
```

## Question 1

### Answer 1: `Yorkville East, Steinway`

Create a materialized view to compute the average, min and max trip time **between each taxi zone**.

Note that we consider the do not consider `a->b` and `b->a` as the same trip pair.
So as an example, you would consider the following trip pairs as different pairs:
```plaintext
Yorkville East -> Steinway
Steinway -> Yorkville East
```

From this MV, find the pair of taxi zones with the highest average trip time.
You may need to use the [dynamic filter pattern](https://docs.risingwave.com/docs/current/sql-pattern-dynamic-filters/) for this.

Bonus (no marks): Create an MV which can identify anomalies in the data. For example, if the average trip time between two zones is 1 minute,
but the max trip time is 10 minutes and 20 minutes respectively.

Options:
1. Yorkville East, Steinway
2. Murray Hill, Midwood
3. East Flatbush/Farragut, East Harlem North
4. Midtown Center, University Heights/Morris Heights

p.s. The trip time between taxi zones does not take symmetricity into account, i.e. `A -> B` and `B -> A` are considered different trips. This applies to subsequent questions as well.

In [ ]:
CREATE MATERIALIZED VIEW mv_trip_times_with_count AS
SELECT 
	max(td.tpep_dropoff_datetime - td.tpep_pickup_datetime) as max_trip_time,
	min(td.tpep_dropoff_datetime - td.tpep_pickup_datetime) as min_trip_time,
	avg(td.tpep_dropoff_datetime - td.tpep_pickup_datetime) as avg_trip_time,
	zpu.Zone as pickup_zone, 
	zdo.zone as dropoff_zone,
	count(td.vendorid) as trip_count
FROM trip_data as td
JOIN taxi_zone as zpu
    ON td.pulocationid = zpu.location_id
JOIN taxi_zone as zdo
    ON td.dolocationid = zdo.location_id
group by pickup_zone,dropoff_zone
;

In [ ]:
SELECT 
    pickup_zone,
    dropoff_zone,
    avg_trip_time,
    trip_count
FROM 
    mv_trip_times_with_count
ORDER BY 
    avg_trip_time desc
LIMIT 1;

```
pickup_zone   |dropoff_zone|avg_trip_time|trip_count|
--------------+------------+-------------+----------+
Yorkville East|Steinway    |     23:59:33|         1|
```

## Question 2

### Answer 2: `1`

Recreate the MV(s) in question 1, to also find the **number of trips** for the pair of taxi zones with the highest average trip time.

Options:
1. 5
2. 3
3. 10
4. 1

In [ ]:
-- qn3
WITH pickup_window AS (
  SELECT
    MAX(tpep_pickup_datetime) AS max_datetime,
    MAX(tpep_pickup_datetime) - INTERVAL '17 hours' AS window_start
  FROM trip_data
)
SELECT
  tz.zone AS pickup_zone,
  COUNT(*) AS num_pickups
FROM trip_data td
JOIN 
  taxi_zone tz ON td.pulocationid = tz.location_id
WHERE 
  td.tpep_pickup_datetime BETWEEN (
    SELECT window_start FROM pickup_window
  ) AND (
    SELECT max_datetime FROM pickup_window
  )
GROUP BY 
  tz.zone
ORDER BY 
  num_pickups DESC
LIMIT 3;

```
pickup_zone        |num_pickups|
-------------------+-----------+
LaGuardia Airport  |         19|
JFK Airport        |         17|
Lincoln Square East|         17|
```

## Question 3

## Answer 3: `2. LaGuardia Airport, Lincoln Square East, JFK Airport`

From the latest pickup time to 17 hours before, what are the top 3 busiest zones in terms of number of pickups?
For example if the latest pickup time is 2020-01-01 17:00:00,
then the query should return the top 3 busiest zones from 2020-01-01 00:00:00 to 2020-01-01 17:00:00.

HINT: You can use [dynamic filter pattern](https://docs.risingwave.com/docs/current/sql-pattern-dynamic-filters/) to create a filter condition based on the latest pickup time.

NOTE: For this question `17 hours` was picked to ensure we have enough data to work with.

Options:
1. Clinton East, Upper East Side North, Penn Station
2. LaGuardia Airport, Lincoln Square East, JFK Airport
3. Midtown Center, Upper East Side South, Upper East Side North
4. LaGuardia Airport, Midtown Center, Upper East Side North