In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import sqlalchemy as sa
sa.__version__

'2.0.28'

In [3]:
pd.__version__

'2.2.1'

dev=> \conninfo
You are connected to database "dev" as user "root" on host "localhost" (address "127.0.0.1") at port "4566".

In [4]:
engine = create_engine("postgresql+psycopg2://root:root@localhost:4566/dev")

In [5]:
engine.connect()

In [6]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1